*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


/* Main */

main{
    min-height: 100vh;
    background: linear-gradient(
        to bottom ,
        #32a093 0%,
        #32a093 15%,
        #e0e0d7 15%,
        #e0e0d7 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-content{
    width: 1250px;
    height: 95vh;
    background: #fff;
    box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.5);
    display: flex;
}

main .main-content .sidebar{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main .main-content .sidebar .user{
    height: 60px;
    background-color:#ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 5px;
}

main .main-content .sidebar .user .box-icon i{
    margin-left: 10px;
    color: #bababa;
    cursor: pointer;
    font-size: 18px;
}

main .main-content .sidebar .user .box-user{
    display: flex;
    align-items: center;
}

main .main-content .sidebar .user .box-user img{
    width:45px;
    height:45px;
    border-radius: 50%;
    margin-right: 15px;
}

main .main-content .sidebar .notifiche{
    height: 80px;
    background-color: #a2dffe;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

main .main-content .sidebar .notifiche .box-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height:50px;
    text-align: center;
    background: #fff;
    color:#a2dffe ;
    margin-right: 10px;
}
main .main-content .sidebar .notifiche h3{
    font-size: 14px;
}
main .main-content .sidebar .notifiche a{
    color: #777e82;
}

main .main-content .sidebar .search{
    background-color: #fbfbfb;
    padding: 5px;
    display: flex;
}

main .main-content .sidebar .search button{
    width: 70px;
    outline: none;
    border: none;
    background: #fff;
    border-right: 1px solid #ededed;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
}

main .main-content .sidebar .search button i{
    color:  #bababa;
}

main .main-content .sidebar .search input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
}

main .main-content .sidebar .contatti{
    flex-grow: 1;
    background-color: #fff;
    margin-top: 5px;
}

main .main-content .sidebar .contatti ul li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

main .main-content .sidebar .contatti ul li{
    list-style: none;
    margin-bottom: 3px;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ededed;
    display: flex;
    align-items: center;
}
main .main-content .sidebar .contatti ul li:last-child{
    border: none;
}


/* Content chat */

main .main-content .content{
    width: 65%;
    height: 100%;
    background: #ccc;
    display: flex;
    flex-direction: column;
}

main .main-content .content .header-content{
    height: 60px;
    background-color: #ededed;
    border-left: 2px solid #bababa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


main .main-content .content .header-content .box-text-header span{
    font-size: 12px;
    color: #8e9496;
}

main .main-content .content .header-content img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 10px;
}

main .main-content .content .header-content .box-user-header{
    display: flex;
}
main .main-content .content .header-content .box-icon-header{
    margin-right: 30px;
}
main .main-content .content .header-content .box-icon-header i{
    margin-left: 15px;
    font-size: 20px;
    color: #bababa;
}

main .main-content .content .content-chat{
    flex-grow:1;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

main .main-content .content .content-chat .box{
    height: 80px;
    display: flex;
    align-items: center;
}

main .main-content .content .content-chat .box.send{
    justify-content: flex-end;
}

main .main-content .content .content-chat .box .message{
    background: #ddfabf;
    width: 220px;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 15px 10px;
    position: relative;
    margin: 5px 100px;
}

main .main-content .content .content-chat .box .message.mess-received{
    background:#fff;
}


main .main-content .content .content-chat .box .message .data{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 8px;
    color: #bababa;
}



main .main-content .content .content-footer{
    height: 50px;
    background: #f4f0ed;
    border-left: 2px solid #bababa;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

main .main-content .content .content-footer i{
    font-size: 18px;
    color:#777e82 ;
    cursor: pointer;
}

main .main-content .content .content-footer input{
    width: 75%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 15px;
}