*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    transition: background 0.3s;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(124, 124, 124,0.4);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a2dffe;
    border-radius: 10px;
  }


/* Main */

main{
    min-height: 100vh;
    background: linear-gradient(
        to bottom ,
        #32a093 0%,
        #32a093 15%,
        #e0e0d7 15%,
        #e0e0d7 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-content{
    width: 1250px;
    height: 95vh;
    background: #fff;
    box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.5);
    display: flex;
}

main .main-content .sidebar{
    width: 35%;
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main .main-content .sidebar .user{
    height: 60px;
    min-height: 60px;
    background-color:#ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 5px;
}

main .main-content .sidebar .user .box-icon i{
    margin-left: 10px;
    color: #bababa;
    cursor: pointer;
    font-size: 18px;
}

main .main-content .sidebar .user .box-user{
    display: flex;
    align-items: center;
}

main .main-content .sidebar .user .box-user img{
    width:45px;
    height:45px;
    border-radius: 50%;
    margin-right: 15px;
}

main .main-content .sidebar .notifiche{
    height: 70px;
    min-height: 70px;
    background-color: #a2dffe;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

main .main-content .sidebar .notifiche .box-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height:50px;
    text-align: center;
    background: #fff;
    color:#a2dffe ;
    margin-right: 10px;
}
main .main-content .sidebar .notifiche h3{
    font-size: 14px;
}
main .main-content .sidebar .notifiche a{
    color: #777e82;
}

main .main-content .sidebar .search{
    background-color: #fbfbfb;
    display: flex;
    min-height: 50px;
    height: 50px;
    align-items: center;
    padding: 10px 5px; 
    position: relative;
}

main .main-content .sidebar .search i {
    position: absolute;
    left: 20px;
    font-size: 14px;
    color: #b0b3b5;
    cursor: pointer;
}


main .main-content .sidebar .search input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    padding-left: 60px;
}

main .main-content .sidebar .contatti{
    flex-grow: 1;
    background-color: #fff;
    overflow-y: auto;
}


main .main-content .sidebar .contatti ul li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

main .main-content .sidebar .contatti ul li{
    list-style: none;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.4s;
    border-bottom: 1px solid rgba(202, 202, 202,0.4);
}



main .main-content .sidebar .contatti ul li:hover,
main .main-content .sidebar .contatti ul li.active{
    background: rgb(216, 216, 216);
}
main .main-content .sidebar .contatti ul li:last-child{
    border: none;
}


/* Content chat */

main .main-content .content{
    width: 65%;
    min-width: 600px;
    height: 100%;
    background: #ccc;
    display: flex;
    flex-direction: column;
}

main .main-content .content .header-content{
    height: 60px;
    min-height: 60px;
    background-color: #ededed;
    border-left: 2px solid #bababa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


main .main-content .content .header-content .box-text-header span{
    font-size: 12px;
    color: #8e9496;
}

main .main-content .content .header-content img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 10px;
}

main .main-content .content .header-content .box-user-header{
    display: flex;
}
main .main-content .content .header-content .box-icon-header{
    margin-right: 30px;
}
main .main-content .content .header-content .box-icon-header i{
    margin-left: 15px;
    font-size: 20px;
    color: #bababa;
}

main .main-content .content .content-chat{
    flex-grow:1;
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    overflow-y: auto;
}

main .main-content .content .content-chat .box{
    height: 80px;
    display: flex;
    align-items: center;
}

main .main-content .content .content-chat .box.send{
    justify-content: flex-end;
}

main .main-content .content .content-chat .box .message{
    background: #ddfabf;
    width: 220px;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 15px 10px;
    position: relative;
    margin: 5px 100px;
}

main .main-content .content .content-chat .box .message.mess-received{
    background:#fff;
}


main .main-content .content .content-chat .box .message .data{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 8px;
    color: #bababa;
}


/* Box emoji */
.box-emoji {
    background-color: #f0f0f0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 0px;
    overflow: hidden;
}

.box-emoji span{
    font-size: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.box-emoji.active {
    animation: boxEmoji-in 1s forwards;
}

.box-emoji.stop {
    animation: boxEmoji-out 1s forwards;
}

@keyframes boxEmoji-in{
    0%{
        height: 0px;
    }

    100%{
        height: 250px;
    }
}

@keyframes boxEmoji-out{
    0%{
        height: 250px;
    }

    100%{
        height: 0px;
    }
}



main .main-content .content .content-footer{
    height: 50px;
    min-height: 50px;
    background: #f4f0ed;
    border-left: 2px solid #bababa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}


main .main-content .content .content-footer i{
    font-size: 18px;
    color:#777e82 ;
    cursor: pointer;
}

main .main-content .content .content-footer input{
    width: 75%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px 15px;
}

/* RESPONSIVE */

section.message-responsive{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px ;
    min-height: 100vh;
    background: linear-gradient(
        to bottom ,
        #32a093 0%,
        #32a093 15%,
        #e0e0d7 15%,
        #e0e0d7 100%
    );
    color: #32a093;
}

section.message-responsive i {
    font-size:80px ;
    margin-top: 30px;
}

/* Dark mode */
.dark-mode{
    position: absolute;
    z-index: 10;
    bottom: 70px;
    left: 30px;
}

main.dark .main-content .content .header-content,
main.dark .main-content .content .content-footer,
main.dark .main-content .sidebar .user{
    background: #2a2f32;
}

.dark-mode .fa-sun{
    font-size: 36px;
    position: absolute;
    cursor: pointer;
    color: #fbfbfb;
    filter: drop-shadow(2px -2px  rgba(0, 0, 0, 0.5));
}

.dark-mode .fa-sun.dark{
    display: none;
}

.dark-mode .fa-moon{
    font-size: 36px;
    position: absolute;
    cursor: pointer;
    filter: drop-shadow(2px -2px  rgba(255, 255, 255,0.5));
}

.dark-mode .fa-moon.dark{
    display: none;
}


main .main-content .content .content-chat.dark{
    filter: invert();
}

main.dark{
    background: #323739;
    color: #fff;
    transition: background 0.3s;
}

main.dark .main-content .sidebar .contatti{
    background-color: #131c20;
}

main.dark .main-content .sidebar .contatti li{
    background-color: #131c20;
    color: #fff;
}
main.dark .main-content .sidebar .contatti li.active,
main.dark .main-content .sidebar .contatti li:hover{
    background: #323739;
}

main.dark .main-content .sidebar .contatti ul li:first-child{
    border-top: 1px solid rgba(202, 202, 202,0.4);}

main.dark .main-content .sidebar .notifiche{
    background-color: #095373;
    color:#fffffe ;
}

main.dark .main-content .sidebar .search{
    background: #131c20;
}

main.dark .main-content .sidebar .search input{
    background: #323739;
    color: #fff;
}
main.dark .main-content .sidebar .notifiche a{
    color:#fffffe ;
}

main.dark .main-content .sidebar .notifiche .box-img{
    color:#095373 ;
}

main.dark .main-content .sidebar .contatti.dark li{
    background-color: #72757e;
    color: #fbfbfb;
    border: none;
}

main.dark .main-content .content .content-footer input{
    background: #323739;
    color: #fff;
}
main.dark .main-content .content .content-chat.dark .mess-received{
    background:#cdc8c6 ;
}


main .main-content .content .content-chat.dark .mess-send{
    background:#fa9d9d ;
}

main.dark .main-content .content .content-chat.dark span{
    filter: invert();
}

main.dark .box-emoji {
    background: #1e2428;
}